
/** jeong.jsp **/


/* ---------------------- font ---------------------- */


@font-face {
    font-family: 'Ginger';
    src: url(/toyfight/font/Ginger.ttf) format('ttf'),
        url(/toyfight/font/Ginger.woff) format('woff');
    font-weight: normal;
}

@font-face {
    font-family: 'Ginger Bold';
    src: url(/toyfight/font/Ginger.ttf) format('ttf'),
        url(/toyfight/font/Ginger.woff) format('woff');
    font-weight: bold;
}


/* ---------------------- all ---------------------- */


*{
    /* font-family: 'Ginger Bold', sans-serif, serif; */
}

body{
    font-size: 16px;
    margin: 0;
    background-color: #1544c0;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

h1, h2, p, span, a{
    color: rgba(33, 33, 33, 0.9);
}

a{
    text-decoration: none;
    display: inline-block;
}

.ginger{
    font-family: 'Ginger', sans-serif, serif;
}


/* ---------------------- common ---------------------- */


.pos-a-t-l{
    position: absolute;
    top: 0;
    left: 0;
}

.pos-a-center{
    position: absolute;
    left: 50%;
    top: 50%;
}

.pos-f-t-l {
    position: fixed;
    top: 0;
    left: 0;
}

.pos-f{
    position: fixed;
}


/* ---------------------- header ---------------------- */


    header{
        width:  -webkit-fill-available;
        padding: 2vw 2.5vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: center;
        z-index: 1;
    }

    .logo{
        margin-right: auto;
    }

    .logo img{
        width: 50px;
    }

    .contact{
        margin-left: auto;
    }
    
    .contact a{
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        letter-spacing: 1.25px;
        display: inline-block;
    }
    
    

/* ---------------------- nav ---------------------- */

    nav ul{
        display: flex;
    }

    nav li{
        position: relative;
        opacity: 0;
        transform: translateY(-10px);
    }

    nav li a{
        margin: 0 20px;
        display: inline-block;
        font-size: 12px;
        font-weight: bold;
        color: #fff;
        text-align: center;
        letter-spacing: 1.25px;
    }

    li::after{
        content: "";
        width: 0;
        height: 3px;
        background-image: url(/toyfight/img/wiggle.svg);
        position: absolute;
        left: 34%;
        bottom: -7px;
        transition: 0.45s;
    }

    li:hover::after{
        width: 32%;
    }

    li.on::after{
        content: "";
        width: 32%;
        height: 3px;
        background-image: url(/toyfight/img/wiggle.svg);
        position: absolute;
        left: 50%;
        bottom: -7px;
        transform: translateX(-50%);
    }


/* ---------------------- common page tit / page bg---------------------- */


.page_bg{
    width: 100%;
    min-height: 100%;
    background: url("/toyfight/img/horizon-intro.jpg") no-repeat center center/cover;
    z-index: -1;
    transition: 0.75s;
}

.page_bg[data-active="off"]{
    background: #1544c0;
}

.page_tit{
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    transition: 0.75s;
    z-index: -1;
}


.page_tit[data-active="off"]{
    opacity: 0;
}

.tit{
    font-size: 21em;
    line-height: 0.9em;
    margin: 0;
    font-weight: bold;
    text-align: center;
    letter-spacing: -65px;
    margin-bottom: 50px;
}

.tit span{
    color: #96ffca;
    opacity: 0;
}


/* ---------------------- sec01 ---------------------- */


.sec01{
    width: 100%;
    transition: 0.75s;
}

.sec01[data-active="off"]{
    opacity: 0;
    background: #1544c0;
}

.figure_mover{
    perspective: 500px;
    transform-origin: center center;
    will-change: transform;
    transition: 0.75s;
    z-index: 9;
}


.figure_mover[data-active="off"]{
    opacity: 0;
    transform: scale(0.95);
    transform-style: preserve-3d;
}


.figures{
    width: 1400px;
    height: 950px;
    margin: -475px 0 0 -700px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    -webkit-backface-visibility: hidden;
}

.js_figure1{
    background-image: url(/toyfight/img/js-figure-1.png);
}

.js_figure2{
    background-image: url(/toyfight/img/js-figure-2.png);
}

.scroll_arrow_wrap{
    width: 50px;
    height: 40px;
    margin: -20px 0 0 -25px;
    bottom: 3%;
    left: 50%;
    -webkit-transition: 0.19s linear;
    -moz-transition: 0.19s linear;
    transition: 0.19s linear;
    z-index: 3;
}

.scroll_arrow{
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    width: 20px;
    height: 2px;
    margin: -1px 0 0 -10px;
}

.scroll_arrow span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    animation: scroll_arrow forwards infinite 3s cubic-bezier(0.52, 0.01, 0.16, 1);
}

.scroll_arrow span:nth-child(2) {
    animation-delay: 1.5s;
}

.scroll_arrow span::before{
    content: '';
    width: 50%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 0;
    transform: skewY(22deg);
    transform-origin: 50% 100%;
    -webkit-transform: skewY(22deg);
    transition: 0.36s cubic-bezier(0.7, 0.3, 0, 1);
}

.scroll_arrow span::after{
    content: '';
    width: 50%;
    height: 2px;
    background-color: #fff;
    position: absolute;
    top: 0;
    left: 50%;
    transform: skewY(-22deg);
    -webkit-transform: skewY(-22deg);
    transition: 0.36s cubic-bezier(0.7, 0.3, 0, 1);
}

@keyframes scroll_arrow {
    0% {
      -webkit-transform: translateY(0);
      opacity: 1;
    }
    30% {
      -webkit-transform: translateY(0);
      opacity: 1; 
    }
    50% {
      -webkit-transform: translateY(8px);
      opacity: 0; 
    }
    85% {
      -webkit-transform: translateY(-7px);
      opacity: 0; 
    }
    100% {
      opacity: 1;
      -webkit-transform: translateY(0px); 
    }
}



/* ---------------------- sec02 ---------------------- */

.scrolling_content_wrap{
    overflow: hidden;
}

.sec02{
    /* height: 100vh; */
    background: #1544c0;
    text-align: center;
}

.tit_box{
    opacity: 0;
    transition: 0.75s;
    transform: translateY(20%);
}

.tit_box span{
    font-size: 16px;
    font-weight: bold;
    letter-spacing: -0.32px;
    color: #fff;
    line-height: 27.2px;
}

.tit_box span:first-child{
    font-size: 11px;
    letter-spacing: 1.32px;
    display: inline-block;
    padding-bottom: 15px;
    position: relative;
}

.line_box{
    display: block;
    position: relative;
}

.line{
    /* width: 24px; */
    height: 7px;
    background-color: #96ffca;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%) skewY(-16deg) scaleX(1);
    -webkit-transform: translateX(-50%) skewY(-16deg) scaleX(1);
}

.tit_box h2{
    font-size: 42px;
    font-weight: bold;
    letter-spacing: -1.68px;
    color: #fff;
    margin-bottom: 0.5em;
}


/* ---------------------- sec03 ---------------------- */


.sec03{
    height: 100vh;
    position: relative;
}

.sec03[data-active="off"] .ledge::before{
    transform: rotate(0);
}

.sec03[data-active="on"] .ledge::before{
    transform: rotate(-14deg);
}

.ledge{
    position: absolute;
    top: 15%;
    left: 50%;
    pointer-events: none;
    width: 0;
    height: 0;
    -webkit-transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1);
    -moz-transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1);
    transition: 0.55s cubic-bezier(0.62, 0.02, 0.34, 1);
}

.ledge::before{
    content: '';
    position: absolute;
    top: 0;
    left: -150px;
    -webkit-transform-origin: 50% 0;
    -moz-transform-origin: 50% 0;
    -ms-transform-origin: 50% 0;
    -o-transform-origin: 50% 0;
    transform-origin: 50% 0;
    -webkit-transition: -webkit-transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear;
    -moz-transition: -moz-transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear;
    transition: transform 0.9s cubic-bezier(0.52, 0.01, 0.16, 1), background 0.26s linear;
    width: 300vw;
    height: 300vw;
    margin-left: -150vw;
    background-color: #214fc6;
}

.content{
    margin: 20vw auto 0;
    text-align: center;
    position: relative;
}

.content h1{
    margin: 0;
    font-size: 105px;
    color: #fff;
    font-weight: bold;
    letter-spacing: -5.28px;
    line-height: 1;
}

.thumbs_cont{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.thumbs{
    width: 40vw;
    height: 40vw;
    position: relative;
}

.thumbs img{
    width: 100%;
}

.thumbs01{
    margin-top: 100px;
}

.thumbs02{
    margin-top: -100px;
}

.thumbs_hover{
    width: 240px;
    height: 0;
    background-color: #212121;
    color: #fff;
    display: flex;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: 0.65s cubic-bezier(0.7, 0.3, 0, 1);
}

.thumbs_hover h4{
    font-size: 24px;
    letter-spacing: -1.2px;
    text-align: left;
    margin-left: 30px;
    opacity: 0;
    transition: 0.45s cubic-bezier(0.62, 0.02, 0.34, 1);
    transform: translateX(-6%);
    transition-delay: 0.35s;
}

.thumbs_hover .view_span{
    font-size: 12px;
    color: #fff;
    letter-spacing: 1.05px;
    opacity: 0;
    position: absolute;
    left: 13%;
    bottom: 13%;
    transform: translateX(-10%);
    transition: 0.45s cubic-bezier(0.62, 0.02, 0.34, 1);
    transition-delay: 0.55s;
}

.arrow_head{
    width: 26px;
    height: 26px;
    overflow: hidden;
    position: absolute;
    right: 14%;
    bottom: 10%;
}

.arrow_head span{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    transition: 0.45s cubic-bezier(0.7, 0.3, 0, 1);
    transform: translateX(-100%);
    transition-delay: 0.55s;
}

.arrow_head span::before{
    content: '';
    width: 90%;
    height: 2px;
    margin-top: -1px;
    background-color: #FFF;
    position: absolute;
    top: 50%;
    left: 0;
}

.arrow_head span::after{
    content: '';
    width: 6px;
    height: 6px;
    margin: -3px 0 0 -3px;
    background: url(/toyfight/img/arrow-head-white.svg) no-repeat center center/100%;
    position: absolute;
    top: 50%;
    right: 0;
}

.thumbs:hover .thumbs_hover{
    height: 240px;
}

.thumbs:hover .thumbs_hover h4{
    opacity: 1;
    transform: translateX(0);
}

.thumbs:hover .thumbs_hover .arrow_head span{
    transform: translateX(0);
}

.thumbs:hover .thumbs_hover .view_span{
    opacity: 1;
    transform: translateX(0);
}

/* ---------------------- FOOTER ---------------------- */
footer{
    width: 100%;
    height: 500px;
    background-color: #f1f5f5;
    overflow: hidden;
    position: relative;
}

.footer_logo{
    width: 660px;
    height: 330px;
    margin: -165px 0 0 -330px;
}